body {
  animation: mudaFundo 10s infinite alternate;
}

@keyframes mudaFundo {
  0%   { background-color: #cce7ff; }  /* azul claro */
  50%  { background-color: #ffddcc; }  /* laranja claro */
  100% { background-color: #cce7ff; }  /* volta para azul */
}


img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  height: auto;
  transition: transform 0.2s ease; /* transição suave */
}

img:hover {
  transform: scale(1.025); /* aumenta 10% */
}

h1 {
  text-align: center;
  font-size: 24px;
  font-family: Arial, sans-serif;
  color: #333;
}
p {
  text-align: center;
  font-size: 16px;
  font-family: Arial, sans-serif;
  color: #555;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}
